In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("../Output/OPT_Training_Set_grouped_binary.csv")
test = pd.read_csv("../Output/OPT_Testing_Set_grouped_binary.csv")

In [3]:
train = train.drop("Unnamed: 0", axis=1)
test = test.drop("Unnamed: 0", axis=1)

In [18]:
treatments = ["med_count_1", "med_count_2", "med_count_3", "med_count_4", "med_count_5", "med_count_6"]

drop_treatments = ["med_change_1_NoMed","med_change_1_Steady", "med_change_1_Up", "med_change_2_Mixed",
                    "med_change_2_NoMed", "med_change_2_Steady", "med_change_2_Up",
                    "med_change_3_NoMed", "med_change_3_Steady", "med_change_3_Up", 
                    "med_change_4_NoMed", "med_change_4_Steady", "med_change_4_Up",
                    "med_change_5_NoMed", "med_change_5_Steady", "med_change_5_Up",
                    "med_change_6_NoMed", "med_change_6_Steady", "med_change_6_Up",
                    "med_change_other_Yes"]

In [11]:
for col in treatments:
    train[col] = (train[col] > 0).astype(int)

for col in treatments:
    test[col] = (test[col] > 0).astype(int)

In [19]:
train = train.drop(columns=drop_treatments)
test = test.drop(columns=drop_treatments)

In [21]:
treatments_train = train[treatments]
treatments_test = test[treatments]
treatments_train

,med_count_1,med_count_2,med_count_3,med_count_4,med_count_5,med_count_6
0,0,0,0,0,0,1
1,0,1,0,0,0,0
2,0,0,0,0,0,1
3,0,1,0,0,0,1
4,0,0,0,0,0,1
...,...,...,...,...,...,...
49759,0,0,0,0,0,1
49760,0,0,0,0,0,1
49761,1,0,0,0,0,1
49762,0,1,0,1,0,1
49763,0,0,0,0,0,0

In [22]:
unique_counts = treatments_train.groupby(list(treatments_train.columns)).size().reset_index(name='Counts')
unique_counts_sorted = unique_counts.sort_values(by=["Counts"], ascending=False)
unique_counts_sorted

,med_count_1,med_count_2,med_count_3,med_count_4,med_count_5,med_count_6,Counts
1,0,0,0,0,0,1,15143
0,0,0,0,0,0,0,11312
15,0,1,0,0,0,0,4301
16,0,1,0,0,0,1,3515
28,1,0,0,0,0,0,2250
29,1,0,0,0,0,1,2192
42,1,1,0,0,0,0,1640
43,1,1,0,0,0,1,1628
5,0,0,0,1,0,1,1622
4,0,0,0,1,0,0,1216
20,0,1,0,1,0,1,845
19,0,1,0,1,0,0,818
33,1,0,0,1,0,1,594
47,1,1,0,1,0,1,499
32,1,0,0,1,0,0,457
46,1,1,0,1,0,0,452
9,0,0,1,0,0,1,351
8,0,0,1,0,0,0,266
37,1,0,1,0,0,1,81
13,0,0,1,1,0,1,76
24,0,1,1,0,0,1,63
12,0,0,1,1,0,0,60
36,1,0,1,0,0,0,57
40,1,0,1,1,0,1,35
23,0,1,1,0,0,0,33
18,0,1,0,0,1,1,29
39,1,0,1,1,0,0,24
17,0,1,0,0,1,0,22
27,0,1,1,1,0,1,20
2,0,0,0,0,1,0,18
51,1,1,1,0,0,1,18
21,0,1,0,1,1,0,17
3,0,0,0,0,1,1,14
26,0,1,1,1,0,0,11
50,1,1,1,0,0,0,9
54,1,1,1,1,0,1,9
45,1,1,0,0,1,1,8
44,1,1,0,0,1,0,8
53,1,1,1,1,0,0,7
49,1,1,0,1,1,1,5
30,1,0,0,0,1,0,5
31,1,0,0,0,1,1,5
6,0,0,0,1,1,0,5
35,1,0,0,1,1,1,4
48,1,1,0,1,1,0,3
10,0,0,1,0,1,0,3
7,0,0,0,1,1,1,3
34,1,0,0,1,1,0,2
14,0,0,1,1,1,1,2
41,1,0,1,1,1,1,1
38,1,0,1,0,1,0,1
25,0,1,1,0,1,0,1
22,0,1,0,1,1,1,1
11,0,0,1,0,1,1,1
52,1,1,1,0,1,1,1
55,1,1,1,1,1,0,1

### Extract rows with top 3 treatments only

In [23]:
unique_counts_sorted_top3 = unique_counts_sorted.head(3)
sum(unique_counts_sorted_top3['Counts'])

30756

In [24]:
Testing_Filtered_top3 = pd.merge(test, unique_counts_sorted_top3.iloc[:, 0:6], how="inner", on=list(treatments_train.columns))
Testing_Filtered_top3

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,med_count_1,...,diag1_category_5,diag1_category_6,diag1_category_7,diag1_category_8,diag1_category_9,diag1_category_Unknown,max_glu_serum_cleaned_>300,max_glu_serum_cleaned_Norm,max_glu_serum_cleaned_Not Taken,readmitted
0,5,1,41,0,1,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
1,75,2,47,0,12,0,0,0,8,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0
2,85,11,42,2,19,0,0,0,8,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
3,55,4,40,1,14,0,0,0,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
4,75,7,75,2,22,0,0,0,7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30814,75,6,40,1,18,9,0,0,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0
30815,75,2,33,0,16,0,0,0,9,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1
30816,75,6,46,5,14,0,0,1,9,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0
30817,75,5,21,1,16,0,0,1,9,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
30818,85,5,33,3,18,0,0,1,9,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0

In [25]:
Training_Filtered_top3 = pd.merge(train, unique_counts_sorted_top3.iloc[:, 0:20], how="inner", on=list(treatments_train.columns))
Training_Filtered_top3

,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,med_count_1,...,diag1_category_6,diag1_category_7,diag1_category_8,diag1_category_9,diag1_category_Unknown,max_glu_serum_cleaned_>300,max_glu_serum_cleaned_Norm,max_glu_serum_cleaned_Not Taken,readmitted,Counts
0,15,3,59,0,18,0,0,0,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,15143
1,35,2,44,1,16,0,0,0,7,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,15143
2,55,3,31,6,16,0,0,0,9,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1,15143
3,65,1,49,5,2,0,0,0,8,0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1,15143
4,65,12,75,5,13,0,0,0,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,15143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30751,75,5,63,1,23,0,0,0,15,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1,11312
30752,95,6,60,0,20,0,1,0,9,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0,11312
30753,75,3,57,4,11,0,0,1,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,11312
30754,95,4,21,1,8,0,0,1,9,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0,11312
30755,75,6,13,3,3,0,0,0,9,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0,11312

In [26]:
#Save CSVs
Training_Filtered_top3.to_csv("../Output/Training_Filtered_top3_short.csv")
Testing_Filtered_top3.to_csv("../Output/Testing_Filtered_top3_short.csv")

### Extract rows with top 10 treatments only

In [32]:
## Extract top 10 treatments
unique_counts_sorted_top10 = unique_counts_sorted.head(10)
sum(unique_counts_sorted_top10['Counts'])

44819

In [33]:
Testing_Filtered_top10 = pd.merge(test, unique_counts_sorted_top10.iloc[:, 0:20], how="inner", on=list(treatments_train.columns))
Training_Filtered_top10 = pd.merge(train, unique_counts_sorted_top10.iloc[:, 0:20], how="inner", on=list(treatments_train.columns))

In [34]:
Training_Filtered_top10.to_csv("../Output/Training_Filtered_top10_short.csv")
Testing_Filtered_top10.to_csv("../Output/Testing_Filtered_top10_short.csv")